body {
    width: 90%;
    margin: auto;
}

h1 {
    text-align: center;
}

a{
    text-align: center;
    text-decoration: none;
    margin: auto;
}

table {
    width: 100%;
    margin-top: 20px;
}

.tableList {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

.message {
    color: green;
}

.create, .another{
    padding-left: 350px;
}

fieldset{
    width: 500px;
    margin: auto;
}

input[type = text] {
    margin: auto;
    width: 330px;
    padding: 10px 10px 5px 10px;
    float: right;
}

input[type=submit] {
    margin: auto;
    padding: 5px 10px 5px 10px;
    color: black;
    text-align: center;
    border-radius: 4px;
}
